body {
	/* display: flex; */
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width: 100vw;
	position: relative;
}

button {
	width: 120px;
	height: 45px;
	/* background-color: rgb(105, 206, 104); */
	font-size: 20px;
	font-weight: bold;
	color: white;

	border-radius: 5px;
	border-style: solid;
}
#add-button {
	width: 120px;
	height: 45px;
	background-color: rgb(105, 206, 104);
	font-size: 20px;
	color: white;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
#add-button:hover {
	background-color: #fff;
	color: rgb(105, 206, 104);
	border: 1px solid #ccc;
}
input {
	background-color: rgb(141, 138, 138);
	width: 35px;
	height: 30px;
	margin-left: 10px;
	margin-right: -5px;
	border-radius: 5px;
}

.alarm-item {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 100%;
	margin-bottom: 20px;
	background-color: rgb(17, 17, 17, 0.3);
	border-radius: 10px;
	font-size: 60px;
	color: white;
}

.alarm-name {
	font-size: 20px;
	color: rgb(213, 213, 213);
}

.delete-button {
	width: 72px;
	height: 45px;
	margin-top: 15px;
	background-color: rgb(241, 121, 121);
	font-size: 20px;
	color: white;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.delete-button:hover {
	background-color: #fff;
	color: rgb(241, 121, 121);
	border: 1px solid #ccc;
}

#add-block {
	display: flex;
	background-color: rgb(117, 117, 117);
	position: absolute;
	align-items: center;
	justify-content: center;
	width: 530px;
	height: 80px;
	border-radius: 10px;
	bottom: 20px;
	right: 0px;
}

#name {
	width: 100px;
}

#back {
	width: 100px;
	position: absolute;
	left: 60px;
	top: 30px;
	padding: 0;
	font-size: 20px;
}

#aside {
	margin-right: 0%;
}

#alarm-list {
	display: flex;
	flex-direction: column;

	width: calc(100vw - 250px);

	position: absolute;
	left: 250px;
}
