* {
	margin: 0;
	border: 0;
	padding: 0;
}
body {
	min-width: 700px;
	background-color: #f3f4f6;
	font-family: 'Microsoft YaHei', 'SimHei', 'Apple LiGothic Medium';

	min-height: 500px;
}
video {
	position: fixed;
	right: 0px;
	bottom: 0px;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
	z-index: -100;
	/* 灰色滤镜 */
	filter: grayscale(100%);
}

#center {
	position: absolute;
	top: 100px;
	right: 15%;
	width: 700px;
	height: 100%;

	float: left;
}
.number {
	font-size: 24px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	pointer-events: none;
}

text {
	user-select: none;
}

#background-hour {
	position: absolute;
	left: 148px;
	top: 548px;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 10px;
}

#background-minute {
	position: absolute;
	left: 224px;
	top: 548px;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 10px;
}

#background-second {
	position: absolute;
	left: 302px;
	top: 548px;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 10px;
}

.time-number {
	position: absolute;
	left: 8px;
	top: 5px;
	font-size: 32px;
	font-family: Arial, sans-serif;
	color: black;
	text-anchor: middle;
}

.time-number {
	transition: transform 0.5s ease-in-out;
}

.time-number.change {
	transform: scale(1.2);
}

#clock-functions {
	position: absolute;
	left: 50px;
	top: 125px;
	width: 150px;
	height: 50px;
}

#popup input,
#popup button {
	position: relative;
	top: 25px;
	width: 100px;
	height: 50px;
	font-size: 30px;
	font-weight: bold;
	border: 2px solid gray;

	margin-left: 20px;

	float: left;
}

.partition {
	font-size: 50px;
	font-weight: 900;
	position: absolute;
	left: 55px;
	top: -12px;
}

#aside {
	position: fixed;

	top: 0px;
	left: 0px;

	width: 250px;

	margin-right: 20%;
	float: left;

	min-height: 500px;

	background-color: rgba(255, 255, 255, 0.5);

	height: 100vh;
}

#clock-functions button {
	width: 100%;
	height: 70px;

	float: left;
	margin-top: 35px;
	border-radius: 5px;
	border-style: solid;
	background-color: rgb(105, 206, 104);
	color: white;

	font-size: 20px;
	font-weight: bold;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	display: none;
}

#popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: none;

	width: 500px;
	height: 100px;

	border: 5px solid gray;
	border-radius: 5px;
}

#nonBlockingAlert {
	display: none; /* Hidden by default */
	flex-direction: column;
	justify-items: center;
	align-items: center;
	position: fixed;
	overflow: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: rgb(65, 66, 67);
	font-size: 20px;
	color: white;
	z-index: 100;
	width: 150px;
	height: 80px;
}
#alert-text {
	text-wrap: nowrap;
	position: absolute;
	top: 20px;
}
#close {
	position: absolute;
	bottom: 10px;
	display: block;
	font-size: 20px;
	width: 60px;
	height: 40px;
	background-color: rgb(197, 99, 99);
}
