button {
	width: 120px;
	height: 45px;
	background-color: rgb(105, 206, 104);
	font-size: 20px;
	color: white;
}

#center {
	text-align: center;
	top: -10px;
}

#time {
	font-size: 60px;
	color: white;
}

#back {
	width: 100px;
	position: absolute;
	left: 60px;
	top: 30px;
}

#start-button {
	width: 120px;
	height: 45px;
	background-color: rgb(105, 206, 104);
	font-size: 20px;
	color: white;
}

#reset-button {
	width: 120px;
	height: 45px;
	background-color: rgb(241, 121, 121);
	font-size: 20px;
	color: white;
	margin-left: 10px;
}

#clock {
	scale: 80%;
}
#small-ticks {
	transform: translate(0, -80px);
}

#small-numbers {
	font-size: 18px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	pointer-events: none;
}

#ticks line {
	stroke: #c9d2dd;
}
#small-ticks line {
	stroke: #c9d2dd;
}
