#start-button,#reset-button{
	width: 120px;
	/* border-style: solid; */
	color: white;
	height: 55px;
	background-image: linear-gradient(to right, rgb(115, 220, 113), rgb(115, 220, 113));
	margin-left: 10px;
	text-shadow: none;
	border-radius: 10px;
}

#start-button:hover,#reset-button:hover{
	background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
	color: rgb(105, 206, 104);
	border: 1px solid #ccc;
	cursor: pointer;
	transform: scale(1.0);
}

#reset-button{
	background-image: linear-gradient(to right, rgb(241, 121, 121), rgb(241, 121, 121));
}

#reset-button:hover{
	color: rgb(241, 121, 121);
}

#center {
	text-align: center;
	top: 0px;

	right: 25%;
}

#time {
	font-size: 60px;
	color: white;
}

.back {
	border-style: solid;
	color: white;
	
	
	width: 100px;
	position: absolute;
	left: 60px;
	top: 30px;
	padding: 5px;
	font-size: 20px;
}
.back:hover{
	color: rgb(246, 178, 27);

}

#clock {
	scale: 80%;
}
#small-ticks {
	transform: translate(0, -80px);
}

#small-numbers {
	font-size: 18px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	pointer-events: none;
}

#ticks line {
	stroke: #c9d2dd;
}
#small-ticks line {
	stroke: #c9d2dd;
}
