input {
	width: 40px;
	height: 30px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	background-color: rgb(59, 57, 57);
	border-radius: 5px;
	color: white;
	text-align: center;
}

#add-block {
	align-content: center;
	align-self: center;
	font-size: 17px;
	margin-bottom: 20px;
	scale: 200%;
	color: white;
}

#ticks line {
	stroke: #c9d2dd;
}
#back {
	width: 100px;
	position: absolute;
	left: 60px;
	top: 30px;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
}
#start-button